.core{
    margin: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.div1{
    display: flex;
    justify-content: space-between;
}
button{
    height: 100%;
    width: 100%;
}
.tab{
    margin: 40px;
}
h1{
    color: rgb(0, 104, 35);
}
